html, body {
    -webkit-font-smoothing: antialiased;
    background-color: $white;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-family: $font-stack;
    font-size: 100%;
    line-height: 100%;
    color: $dark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}

img {
    width: 100%;
    height: 100%;
}

// Layout

.container {
    background-image: url(../images/background.svg);
    background-position: 50% 70%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    min-height: 100%;

    @media screen and (min-width: $med) {
        align-items: center;
        background-position: 100px 50%;
    }    

    @media screen and (min-width: $lg) {
        align-items: center;
        background-position: 150% 50%;
        justify-content: flex-start;
    }

    @media screen and (min-width: $xl) {
        background-position: right 50%;
    }    

}

.content {
    flex: 1 1 auto;
    padding: 40px 20px 20px 20px;

    @media screen and (min-width: $med) {
        max-width: 700px;
    }

    @media screen and (min-width: $lg) {
        max-width: 800px;
        padding: 0 0 0 100px;   
    }

    @media screen and (min-width: $xl) {
        padding: 0 0 0 250px;   
    }    
}

.logo {
    height: auto;
    margin-bottom: 40px;
    max-width: 350px;

    @media screen and (min-width: $med) {
        max-width: 475px;
    }   

    @media screen and (min-width: $lg) {
        margin-bottom: 70px;
        max-width: 700px;
    }    
}

.copy {
    margin-bottom: 40px;
}