//@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700');

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,700');

p {
    @include font-size(20px);
    @include line-height(33.2px);
    background-color: $white;
    font-weight: normal;
    letter-spacing: -0.35px;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 0;
    }

    @media screen and (min-width: $med) {
        @include font-size(24px);
        @include line-height(42.2px);
    }    

    @media screen and (min-width: $lg) {
        @include font-size(32px);
        @include line-height(51.2px);
    }
}

a.button {
    background-color: $white;
    box-sizing: border-box;
    border: 3px solid $primary;
    border-radius: 1px;
    color: $primary;
    display: block;
    font-weight: $bold;
    font-size: 16px;
    letter-spacing: -0.25px;
    padding: 16px 40px 14px 40px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition:
        background-color ease-out 0.2s,
        border-radius ease-out 0.2s,
        color ease-out 0.2s;

    @media screen and (min-width: $med) {
        display: inline-block;
        padding: 20px 40px 18px 40px;
    }    

    @media screen and (min-width: $lg) {
        @include font-size(20px);
    }        

    &:focus {
        background-color: $primary;
        color: $white;
    }
    &:hover {
        background-color: $primary;
        border-radius: 50px;
        color: $white;
    }
    &:active {
        background-color: $primary;
        color: $white;
    }  
}

.bold {
    font-weight: $bold;
}

.accent {
    color: $primary;
}