//Typography
$font-stack: 'Nunito Sans', sans-serif;

//Typography Helpers
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;

// Colour
$primary: #F06700;
$accent: #ED3B23;
$dark: #131313;
$light: rgba($dark, 0.05);
$white: #ffffff;

// Breakpoints
$sm: 320px;
$med: 48em; /* 768px; */
$lg: 64em; /* 1024px */
$xl: 80em; /* 1280px */